@*@model List<ApiMVC.Models.CallHistory>
@{
    ViewBag.Title = "Index";
                                
}
        
                    
<script src="https://kit.fontawesome.com/a36c5d7fce.js" crossorigin="anonymous"></script>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ngày gọi</th>
            <th>Đầu số</th>
            <th>Số nhận</th>
            <th>Mã cuộc gọi</th>
            <th>Thời gian đàm thoại</th>
            <th>Thời lượng cuộc gọi</th>
            <th>Số gọi</th>
            <th>Trạng thái</th>
            <th>Loại cuộc gọi</th>
            <th>Tải xuống</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@string.Format("{0:dd/MM/yyyy HH:mm:ss}", item.CallDate)</td>
                <td>@item.Src</td>
                <td>@item.Dst</td>
                <td>@item.CallId</td>
                <td> @item.BillSec</td>
                <td>@item.Duration</td>
                <td>@item.Did</td>
                <td>@item.Status</td>
                @if (item.Type == "outbound")
                {
                    <td>Gọi ra </td>
                }
                else
                {
                    <td>Gọi vào</td>
                }
                <td>@item.Download</td>
            </tr>
        }
    </tbody>
</table>*@

